@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "BioRhyme", serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    text-shadow: 8px 5px 2px rgba(54, 54, 54, 0.6) !important;

}

/*animacion texto*/
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.animated.hinge {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

/*the animation definition*/
@-webkit-keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes tada {
    0% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }

    10%,
    20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg)
    }

    30%,
    50%,
    70%,
    90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg)
    }

    40%,
    60%,
    80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        -ms-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg)
    }

    100% {
        -webkit-transform: scale3d(1, 1, 1);
        -ms-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.tada {
    -webkit-animation-name: tada;
    animation-name: tada
}

/*fin*/
.container {
    background-color: #1465bb;
}

.nav-item {
    font-size: 18px;
    text-transform: uppercase;
    height: 82px;
    line-height: 64px;
}

.flare {
    background: #2b2a2a;
}

.flare a.nav-link {
    color: #fff !important
}

.topbarElements>div:nth-of-type(1) {
    font-size: 48px;
    margin: 12px 32px;
    color: #ef662b;
    font-weight: 600 !important;
}

.a1 {
    margin-top: 100px;
    background-color: #1465bb !important;
    text-align: center;
    margin-bottom: 100px;

}

.titles {
    background-color: #1465bb !important;
    color: rgb(255, 255, 255);
    font-size: 2rem !important;
    position: relative !important;
    right: 282px !important;
    margin-top: 20px !important;
}

.title {
    font-size: 2.4rem !important;
    position: relative !important;
    right: 50px !important;
    color: rgb(255, 255, 255) !important;
    margin-top: 50px !important;
    margin-bottom: 20px !important;
}

/*BTN*/
.animated-button {
    background-color: #2b2a2a !important;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    color: rgb(57, 95, 0);
    box-shadow: 0 0 0 2px rgb(0, 0, 0);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    left: 850px;
    top: 10px;
}
.w-100{
    height: 450px !important;
}
.animated-button svg {
    position: absolute;
    width: 24px;
    fill: #ef662b;
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: rgb(163, 163, 163);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    color: #ef662b;
    font-size: 1.1rem;
    font-weight: 600;
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #212121;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(0, 0, 0);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
    background-color:#1465bb;
}

.card {
    border: #1465bb !important;
    background-color: #1465bb !important;
    color: rgb(54, 54, 54) !important;
}

.typed-cursor {
    display: none !important;
}

.img1 {
    border-radius: 50px;
    width: 500px;

    margin: 20px;
    box-shadow: 10px 12px 18px 1px #000000;
}

.lic {
    margin-top: 7px;
    color: rgb(255, 255, 255);
    border-radius: 20px;

}
a{text-decoration: none !important;}
.abtn{
    font-style: none !important;
}
.imglogooj{box-shadow: 10px 3px 14px -6px rgba(0,0,0,0.68);}
.imglogoos{box-shadow: 10px 3px 14px -6px rgba(0,0,0,0.68);}
.dede {
    position: relative;
    top: 50px;
}

.cont {
    font-size: 1.5rem;
}

.info {
    margin: 35px;
    font-size: 1.8rem;
    color: rgb(216, 213, 213)
}

.a2 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px !important;
}

.iframer {
    width: 800px !important;
    height: 450px !important;
    box-shadow: 10px 12px 18px 1px #000000;

}

.map {
    display: flex;
    justify-content: center !important;
    border-radius: 20px;
    margin: 65px;
}

.a3 {
    margin-top: 50px;
    background-color: #1465bb !important;
    text-align: center;
    color: white;


}

.carousel {
    box-shadow: 10px 12px 18px 1px #000000 !important;
}





.a4 {
    margin-top: 50px;
    background-color: #1465bb !important;
    text-align: center;
    color: white;

}

.imglogoos.contener {

    display: flex;
    justify-content: center;

}

.imglogoos {
    width: 500px;

    margin: 37px;
}

.imglogooj {
    width: 300px;
    margin: 37px;

}

.s {
    height: 2px;
    background-color: #e9791a;

}

strong {
    color: #e9791a;
    font-size: 1.8rem;
    font-weight: 800 !important;
}

#carouselExample {
    margin-bottom: 50px !important;
}

.carde {
    background-color: #2b2a2a !important;
    border-radius: 10px !important;
    padding: 20px !important;
    width: 500px !important;
    display: flex !important;
    flex-direction: column !important;
    margin: 60px;
    box-shadow: 10px 12px 18px 1px #000000 !important;
}
.flex-wrap{
    display: none !important;
}
.title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.group {
    position: relative;
}

.form .group label {
    font-size: 14px !important;
    color: rgb(255, 255, 255);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: #ffffff;
    transition: all .3s ease;
}

.form .group input,
.form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.815);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
    color: rgb(255, 255, 255);
}

.form .group input:placeholder-shown+label,
.form .group textarea:placeholder-shown+label {
    top: 10px;
    background-color: transparent;
}

.form .group input:focus,
.form .group textarea:focus {
    border-color: #ffffff;
}

.form .group input:focus+label,
.form .group textarea:focus+label {
    top: -10px;
    left: 10px;
    background-color: #1465bb;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    border-radius: 10px;
}

.form .group textarea {
    resize: none;
    height: 100px;
}

.form .btns {
    background-color: #3366cc;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form .btns:hover {
    background-color: #27408b;
}


.btns {
    display: flex;
    align-items: center;
    font-family: inherit;
    font-weight: 500;
    font-size: 17px;
    padding: 0.8em 1.3em 0.8em 0.9em;
    color: white;
    background: rgb(59, 56, 255);
    background: linear-gradient(266deg, #1465bb 0%, rgba(0, 0, 0, 1) 100%);
    border: none;
    letter-spacing: 0.05em;
    border-radius: 16px;

}

.infos {

    margin: 50px;
}

.btnssvg {
    margin-right: 3px;
    transform: rotate(30deg);
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btns span {
    transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.btns:hover svg {
    transform: translateX(5px) rotate(90deg);
}

.btns:hover span {
    transform: translateX(7px);
}

.kine {
    width: 70px;

}

footer {
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    display: flex !important;
    justify-content: center;
}

#hol {
    color: #1465bb !important;
}

@media screen and (max-width:1029px) {
    .navbar-nav {
        margin-bottom: 15px;
        text-align: center
    }

    .imglogog {
        width: 150px;

    }

    .imglogoos {
        width: 288px;

        margin: 17px;
    }

    .kine {
        width: 60px;

    }

    .img1 {
        border-radius: 50px;
        width: 322px !important;


        margin-left: -13px !important;
    }

    .imglogooj {
        width: 200px;
        margin: 37px;

    }

    .carde {

        border-radius: 10px !important;
        padding: 20px !important;
        width: 300px !important;
        display: flex !important;
        flex-direction: column !important;
        margin: 60px;

    }

    .info {
        margin: 20px;
        font-size: 1.3rem;
        color: white;
    }

    .animated-button {
        left: 50px;

    }

    .nav-item {
        background: rgba(255, 255, 255, 0.1);
        margin: 2px;
        overflow: auto;
    }

    .titles {


        font-size: 1.3rem !important;
        position: relative !important;
        right: 0px !important;
    }

    .title {
        font-size: 1.5rem !important;
        position: relative !important;
        right: 0px !important;
    }

    .tnco {
        font-size: 1.5rem;
    }


}